# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb

# Output PDF (bỏ comment nếu KHÔNG muốn commit file PDF)
# main.pdf
